<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HITRenServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>log4jInit</servlet-name>
    <servlet-class>cn.edu.hit.servlet.kit.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>log4jInit</servlet-name>
    <url-pattern>/log4jInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadUserInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.DownloadUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadUserInfo</servlet-name>
    <url-pattern>/DownloadUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadUsersData</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.DownloadUsersDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadUsersData</servlet-name>
    <url-pattern>/DownloadUsersData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConcernUser</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.ConcernUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConcernUser</servlet-name>
    <url-pattern>/ConcernUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddConcernlistGroup</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.AddConcernlistGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConcernlistGroup</servlet-name>
    <url-pattern>/AddConcernlistGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteConcernlistGroup</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DeleteConcernlistGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteConcernlistGroup</servlet-name>
    <url-pattern>/DeleteConcernlistGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RenameConcernlistGroup</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.RenameConcernlistGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenameConcernlistGroup</servlet-name>
    <url-pattern>/RenameConcernlistGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CopyUsersToGroups</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.CopyUsersToGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyUsersToGroups</servlet-name>
    <url-pattern>/CopyUsersToGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUsersFromGroup</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DeleteUsersFromGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsersFromGroup</servlet-name>
    <url-pattern>/DeleteUsersFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoveUsersFromGroupToGroups</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.MoveUsersFromGroupToGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveUsersFromGroupToGroups</servlet-name>
    <url-pattern>/MoveUsersFromGroupToGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadRelationshipInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DownloadRelationshipInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadRelationshipInfo</servlet-name>
    <url-pattern>/DownloadRelationshipInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteConcernedUser</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DeleteConcernedUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteConcernedUser</servlet-name>
    <url-pattern>/DeleteConcernedUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoveUsersToBlacklist</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.MoveUsersToBlacklistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveUsersToBlacklist</servlet-name>
    <url-pattern>/MoveUsersToBlacklist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoverUsersFromBlacklist</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.RecoverUsersFromBlacklistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverUsersFromBlacklist</servlet-name>
    <url-pattern>/RecoverUsersFromBlacklist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFriendsInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DownloadFriendsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFriendsInfo</servlet-name>
    <url-pattern>/DownloadFriendsInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendShortMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.SendShortMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendShortMessage</servlet-name>
    <url-pattern>/SendShortMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeTheMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.LikeTheMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeTheMessage</servlet-name>
    <url-pattern>/LikeTheMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelLikeTheMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.CancelLikeTheMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelLikeTheMessage</servlet-name>
    <url-pattern>/CancelLikeTheMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.CommentMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentMessage</servlet-name>
    <url-pattern>/CommentMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShareMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.ShareMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareMessage</servlet-name>
    <url-pattern>/ShareMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.ReportMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportMessage</servlet-name>
    <url-pattern>/ReportMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadMessages</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.DownloadMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMessages</servlet-name>
    <url-pattern>/DownloadMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadTimeline</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.DownloadTimelineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadTimeline</servlet-name>
    <url-pattern>/DownloadTimeline</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImages</servlet-name>
    <servlet-class>cn.edu.hit.servlet.upload.UploadImagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImages</servlet-name>
    <url-pattern>/UploadImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadLikedList</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.DownloadLikedListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadLikedList</servlet-name>
    <url-pattern>/DownloadLikedList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadCommentList</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.DownloadCommentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadCommentList</servlet-name>
    <url-pattern>/DownloadCommentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadImage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.upload.DownloadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadImage</servlet-name>
    <url-pattern>/DownloadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadGoodsInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.trade.UploadGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadGoodsInfo</servlet-name>
    <url-pattern>/UploadGoodsInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadGoodsInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.trade.DownloadGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadGoodsInfo</servlet-name>
    <url-pattern>/DownloadGoodsInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadGoodsLine</servlet-name>
    <servlet-class>cn.edu.hit.servlet.trade.DownloadGoodsLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadGoodsLine</servlet-name>
    <url-pattern>/DownloadGoodsLine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadThingsLine</servlet-name>
    <servlet-class>cn.edu.hit.servlet.findthing.DownloadThingsLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadThingsLine</servlet-name>
    <url-pattern>/DownloadThingsLine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadThingsInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.findthing.DownloadThingsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadThingsInfo</servlet-name>
    <url-pattern>/DownloadThingsInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadThingsInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.findthing.UploadThingsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadThingsInfo</servlet-name>
    <url-pattern>/UploadThingsInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadEvent</servlet-name>
    <servlet-class>cn.edu.hit.servlet.calendar.UploadEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadEvent</servlet-name>
    <url-pattern>/UploadEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadEventLine</servlet-name>
    <servlet-class>cn.edu.hit.servlet.calendar.DownloadEventLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadEventLine</servlet-name>
    <url-pattern>/DownloadEventLine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadEventInfos</servlet-name>
    <servlet-class>cn.edu.hit.servlet.calendar.DownloadEventInfosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadEventInfos</servlet-name>
    <url-pattern>/DownloadEventInfos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewDownloadUserInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.NewDownloadUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDownloadUserInfo</servlet-name>
    <url-pattern>/NewDownloadUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGoods</servlet-name>
    <servlet-class>cn.edu.hit.servlet.trade.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoods</servlet-name>
    <url-pattern>/DeleteGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteThing</servlet-name>
    <servlet-class>cn.edu.hit.servlet.findthing.DeleteThingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteThing</servlet-name>
    <url-pattern>/DeleteThing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadMyGoods</servlet-name>
    <servlet-class>cn.edu.hit.servlet.trade.DownloadMyGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMyGoods</servlet-name>
    <url-pattern>/DownloadMyGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadMyThings</servlet-name>
    <servlet-class>cn.edu.hit.servlet.findthing.DownloadMyThingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMyThings</servlet-name>
    <url-pattern>/DownloadMyThings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchGoods</servlet-name>
    <servlet-class>cn.edu.hit.servlet.trade.SearchGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGoods</servlet-name>
    <url-pattern>/SearchGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchThings</servlet-name>
    <servlet-class>cn.edu.hit.servlet.findthing.SearchThingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchThings</servlet-name>
    <url-pattern>/SearchThings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEvent</servlet-name>
    <servlet-class>cn.edu.hit.servlet.calendar.DeleteEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEvent</servlet-name>
    <url-pattern>/DeleteEvent</url-pattern>
  </servlet-mapping>
</web-app>