<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HITRenServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadUserInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.usersimplelogic.DownloadUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadUserInfo</servlet-name>
    <url-pattern>/DownloadUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConcernUser</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.ConcernUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConcernUser</servlet-name>
    <url-pattern>/ConcernUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddConcernlistGroup</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.AddConcernlistGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConcernlistGroup</servlet-name>
    <url-pattern>/AddConcernlistGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteConcernlistGroup</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DeleteConcernlistGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteConcernlistGroup</servlet-name>
    <url-pattern>/DeleteConcernlistGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RenameConcernlistGroup</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.RenameConcernlistGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenameConcernlistGroup</servlet-name>
    <url-pattern>/RenameConcernlistGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CopyUsersToGroups</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.CopyUsersToGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyUsersToGroups</servlet-name>
    <url-pattern>/CopyUsersToGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUsersFromGroup</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DeleteUsersFromGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsersFromGroup</servlet-name>
    <url-pattern>/DeleteUsersFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoveUsersFromGroupToGroups</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.MoveUsersFromGroupToGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveUsersFromGroupToGroups</servlet-name>
    <url-pattern>/MoveUsersFromGroupToGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadRelationshipInfo</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DownloadRelationshipInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadRelationshipInfo</servlet-name>
    <url-pattern>/DownloadRelationshipInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteConcernedUser</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.DeleteConcernedUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteConcernedUser</servlet-name>
    <url-pattern>/DeleteConcernedUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoveUsersToBlacklist</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.MoveUsersToBlacklistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveUsersToBlacklist</servlet-name>
    <url-pattern>/MoveUsersToBlacklist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoverUsersFromBlacklist</servlet-name>
    <servlet-class>cn.edu.hit.servlet.relationshiplogic.RecoverUsersFromBlacklistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverUsersFromBlacklist</servlet-name>
    <url-pattern>/RecoverUsersFromBlacklist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendShortMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.SendShortMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendShortMessage</servlet-name>
    <url-pattern>/SendShortMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeTheMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.LikeTheMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeTheMessage</servlet-name>
    <url-pattern>/LikeTheMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelLikeTheMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.CancelLikeTheMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelLikeTheMessage</servlet-name>
    <url-pattern>/CancelLikeTheMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentMessage</servlet-name>
    <servlet-class>cn.edu.hit.servlet.messagelogic.CommentMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentMessage</servlet-name>
    <url-pattern>/CommentMessage</url-pattern>
  </servlet-mapping>
</web-app>